// font family
$robotofont: 'Roboto', sans-serif;;

// colors variable
$white: #ffffff;
$black: #000;
$theme-color: #FF1749;
$secondary-color: #F0DAC5;
$heading-color: #121D2C;
$gray-dark: #2E2E2E;
$gray: #F3F3F5;
$defaul-color: #5B646B;

